body {
background-color: #000000;
color: #ffffff;
font-family: 'Poppins', sans-serif;
overflow-x: hidden;
overflow-y: auto; /* This will trigger the scrollbar when content overflows */
scrollbar-width: thin;
scrollbar-color: #5a5a5a #2c2c2c;

width: 100vw;
}

.landing {
    background-color: #000000;
    color: #ffffff;
}

/* Styles for the scrollbar track (background) */
body::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
    background-color: #2c2c2c; /* Scrollbar background color */
}

/* Styles for the scrollbar handle */
body::-webkit-scrollbar-thumb {
    background-color: #5a5a5a; /* Scrollbar handle color */
    border-radius: 4px; /* Scrollbar handle border radius */
}

/* Handle hover styles */
body::-webkit-scrollbar-thumb:hover {
    background-color: #7a7a7a;
}