.footer {
background-color: #333;
color: #fff;
padding: 40px 0;
}

.footer a:hover {
color: #f542ec;
}

.footer-row {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-bottom: 20px;
}

.footer-column1 {
width: 40%;
}


.footer-column2 {
width: 20%;
}


.footer-column3 {
width: 100%;
}


.footer-logo img {
width: 100px;
height: auto;
margin-bottom: 20px;
}

.footer-h4 {
font-size: 18px;
margin-bottom: 15px;
}

.footer-divider {
height: 1px;
background-color: #f542ec;
margin: 10px 0;
}

.footer-ul {
list-style: none;
padding: 0;
}

.footer-ul li {
display: flex;
align-items: center;
}

.footer-ul li:before {
content: '';
display: inline-block;
width: 10px; /* Adjust the size of the bullet */
height: 10px; /* Adjust the size of the bullet */
background-color: black; /* Adjust the color of the bullet */
margin-right: 10px; /* Adjust the spacing between the bullet and text */
}

